$font-family-sans-serif: 'Roboto', sans-serif;
$body-color: #0D0C21;

body, html {
  font-size: 16px;
}

$primary: $body-color;
$info: #60B3D7;

@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #F8F7F4;
}

.overflow-y {
  overflow-y: auto;
}

.text-small {
  font-size: 0.8rem;
}

.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  vertical-align: middle; 
  transform: translateY(-5%);
}

.cursor-hover:hover {
  cursor: pointer;
}
